* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrap {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.display {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    max-width: 40ch;
    text-align: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    place-self: center;
    align-items: center;

    padding: 2rem;

    background-color: grey;
}

.button-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
}

.button-container > button {
    margin: 0.20rem;
}